<!-- <mat-card>
    <mat-card-title>Excluir Vaga</mat-card-title>
    <form>

      <mat-form-field appearance="fill">
        <mat-label>Vaga de Estacionamento</mat-label>
        <input matInput placeholder="123"
        [(ngModel)]="parking.parkingSpotNumber" name="parkingSpotNumber">
      </mat-form-field>

    </form>
    <button mat-raised-button (click)="deleteParking()" color="warn">
        Excluir
    </button>

    <button mat-raised-button (click)="cancel()">
        Cancelar
    </button>
</mat-card> -->
