
.full-width-table {
  width: 100%;
}

button {
  display: flexbox;
  margin: 15px 15px 15px 500px;
}

.edit {
  margin-right: 15px;
}
.edit >i {
  color: #d9cd26;
}

.delete > i {
  color: #e35e6b;
}