form {
    display:flex;
    flex-direction: row;
    margin-top: 5px;
    margin-left: 5px;
}

.card-title {
    display: flex;
    margin-left: 10px;
}

.input-cadastro {
  display: flex;
  flex-direction: row;
  align-items: flex-start;
}

.grupo-input-cadastro {
  display: flexbox;
  margin: 15px 5px 15px 15px;

}

button {
    display: flexbox;
    margin: 10px 0px 20px 20px;
}

/*   .button-row {
    display: flex;
    max-width: 500px;
  } */
